/*==================     Subscribe Form     ======================*/
.subscribe-form {
  position: relative;
  display: block;
}
.subscribe-form label {
  display: inline-block;
  position: relative;
  padding: 3px 6px 3px;
  background: transparent;
  border-bottom: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.subscribe-form label.name {
  width: 100%;
}
.subscribe-form label.email {
  width: 100%;
}
.subscribe-form label + label {
  margin-top: 12px;
}
.subscribe-form input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #fff;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  height: 22px;
}
.subscribe-form a[data-type="submit"] {
  display: inline-block;
  width: 100%;
  margin-top: 22px;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: #f44236;
  color: #FFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.subscribe-form a[data-type="submit"]:hover {
  background: #01bbd4;
}
.subscribe-form a[data-type="submit"]:active {
  background: #018ea1;
}

.subscribe-form .error, .subscribe-form .success {
  position: absolute;
  top: 0;
  text-align: left;
  right: 5px;
  font-size: 12px;
  line-height: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.subscribe-form .error {
  display: none;
  color: #f44236;
  overflow: hidden;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.subscribe-form label.invalid .error {
  display: block;
}
.subscribe-form .success {
  display: none;
  color: #0f0;
}

@media (max-width: 979px) {
  .subscribe-form label.name,
  .subscribe-form label.email {
    display: block;
    width: 100%;
  }
}
