@charset "UTF-8";
.search-form {
  position: relative;
  width: 100%;
  margin: auto;
  -webkit-box-shadow: inset 0px 10px 10px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 10px 10px -6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 10px 10px -6px rgba(0, 0, 0, 0.2);
  display: none;
}
.search-form .container {
  position: relative;
  width: 100%;
}
.search-form_label {
  position: relative;
  display: block;
  padding: 12px 24px 12px 32px;
  background: transparent;
  border: none;
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #333;
  display: block;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  height: 20px;
}
.search-form_submit {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 14px;
  right: 5px;
  width: 25px;
  height: 22px;
  color: #333;
  font: 400 18px/22px 'FontAwesome', sans-serif;
}
.search-form_submit:before {
  content: "";
}
.search-form_submit:hover {
  color: #f44236;
}
@media (max-width: 979px) {
  .search-form {
    width: 100%;
    display: block;
    /*z-index: 99999999;*/
    z-index: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .search-form_label {
    padding: 0 60px 20px;
  }
  .search-form_label input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .search-form_submit {
    top: 8px;
    right: 40px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 479px) {
  .search-form_label {
    padding: 0 20px 20px;
  }
  .search-form_submit {
    right: 10px;
  }
}

.search-form_toggle {
  position: absolute;
  top: 18px;
  right: 36px;
  float: right;
  display: inline-block;
  color: #afafaf;
  font: 400 24px/31px "FontAwesome";
}
.search-form_toggle:before {
  content: "";
}
.search-form_toggle.active, .search-form_toggle:hover {
  color: #01bbd4;
}
.search-form_toggle.active:before {
  content: "";
}
@media (min-width: 980px) and (max-width: 1199px) {
  .search-form_toggle {
    top: 43px;
    font-size: 18px;
  }
}
@media (max-width: 979px) {
  .search-form_toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .search-form_toggle {
    display: none;
  }
}

.search-form.on {
  display: block;
}

.search-form_liveout {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font-size: 10px !important;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 9999999999999;
}
.lt-ie9 .search-form_liveout {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.search-form_liveout h3, .search-form_liveout h4 {
  font-size: 18px;
}
@media (max-width: 979px) {
  .search-form_liveout {
    top: 110%;
  }
}
.search-form_liveout .search_list {
  font-size: 14px;
  line-height: 24px;
  background: #FFF;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_link {
  display: block;
  padding: 5px 10px;
  background: #FFF;
  color: #999;
}
.search-form_liveout .search_link .search_title {
  color: #f44236;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #f44236;
  color: #fff8f7;
}
.search-form_liveout .search_link:hover .search_title {
  color: #FFF;
}
.search-form_liveout .search_error {
  display: block;
  color: #f44236;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  display: block;
  width: 100%;
  color: #f44236;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button:hover {
  background: #f44236;
  color: #FFF;
}
input:focus + .search-form_liveout {
  opacity: 1;
}
.lt-ie9 input:focus + .search-form_liveout {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet, .mobile .search-form_liveout {
  display: none !important;
}

.search-frame, .search-frame body {
  color: #01bbd4;
  font: 400 14px/18px "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
  width: 100%;
  height: auto;
  background: transparent;
  vertical-align: top;
}
.search-frame, .search-frame body, .search-frame h1, .search-frame h2, .search-frame h3, .search-frame h4, .search-frame h5, .search-frame h6, .search-frame p, .search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #01bbd4;
}
.search-frame h4 a:hover {
  color: #f44236;
}
.search-frame .search_list {
  border: 0;
  vertical-align: top;
  counter-reset: li;
  list-style-type: none;
  margin: 0px;
  padding: 39px 0px 0px;
}
.search-frame .search_list li {
  position: relative;
  background: none;
  padding: 24px 34px 22px;
  box-sizing: border-box;
}
.search-frame .search_list li:before {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 36px;
  height: 36px;
  content: counter(li,decimal) ".";
  counter-increment: li;
  font: 700 18px/36px "Roboto", sans-serif;
  color: #01bbd4;
  text-align: center;
}
.search-frame .search_list + li {
  margin-top: 70px;
}
.search-frame .search {
  color: #f44236;
}
.search-frame .match {
  color: #01bbd4;
  font-size: 11px;
  display: block;
}
.search-frame * + p {
  margin-top: 5px;
}
