@charset "UTF-8";
@import url(animate.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300italic,700italic,900italic,300,100,700,900);
/*========================================================
                      Main Styles
=========================================================*/
body {
  background: #222;
  color: #777;
  font: 300 16px/22px "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #f44236;
}

h2 {
  font-size: 92px;
  font-weight: 900;
  font-style: italic;
  line-height: 94px;
}
h2 em {
  display: block;
  margin-top: 13px;
  font-size: 48px;
  line-height: 58px;
}
@media (max-width: 479px) {
  h2 {
    font-size: 56px;
    line-height: 56px;
  }
  h2 em {
    font-size: 32px;
    line-height: 32px;
  }
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  color: #333333;
}
@media (max-width: 479px) {
  h3 {
    font-size: 38px;
    line-height: 40px;
  }
}

h4 {
  font-size: 30px;
  font-weight: 900;
  line-height: 30px;
  color: #333333;
}

h5 {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-transform: uppercase;
  color: #474747;
}

h6 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

p a:hover, .marked-list a:hover, .list a:hover {
  text-decoration: underline;
}
p .fa, .marked-list .fa, .list .fa {
  text-decoration: none;
}

time {
  display: block;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:focus {
  outline: none;
}
a:active {
  background-color: transparent;
}

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.fa {
  line-height: inherit;
}

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome";
}

.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

@media (max-width: 767px) {
  .mobile-center {
    text-align: center;
  }
}
.mg-add {
  margin-top: 7px;
}

/*=======================================================
                       Main Layout
=========================================================*/
* + .row {
  margin-top: 37px;
}

* + h5 {
  margin-top: 10px;
}

* + p {
  margin-top: 14px;
}

* + [class*="btn"] {
  margin-top: 35px;
}

.row + .btn_wr {
  margin-top: 85px;
}

* + .marked-list {
  margin-top: 14px;
}

img + h5 {
  margin-top: 28px;
}

p + .row {
  margin-top: 18px;
}

h3 + [class*="accordion"] {
  margin-top: 40px;
}

.marked-list + h3 {
  margin-top: 82px;
}

h3 + .marked-list {
  margin-top: 41px;
}

/*=======================================================
                        Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  position: relative;
  display: inline-block;
  margin-left: 102px;
  padding-top: 24px;
  padding-left: 14px;
  /*padding-bottom: 14px;*/
  padding-bottom: 0;
  text-transform: uppercase;
  text-align: right;
  /*border-left: 1px solid #01bbd4;*/
}
.brand a:hover {
  color: inherit;
}
/*.brand:before {*/
  /*content: "";*/
  /*position: absolute;*/
  /*top: 15px;*/
  /*left: -57px;*/
  /*width: 50px;*/
  /*height: 47px;*/
  /*margin-right: 6px;*/
  /*background: url(../images/logo.png) center no-repeat;*/
/*}*/
.brand_name {
  overflow: hidden;
  margin-top: -9px;
  font-size: 42px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -1.05px;
  line-height: 42px;
  color: #01bbd4;
}
.brand_slogan {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.35px;
  color: #f44236;
}
@media (max-width: 479px) {
  .brand {
    margin-left: 65px;
  }
}

/*==================  Backgrounds  ======================*/
.bg-primary {
  background: #f44236;
}

.bg-secondary {
  background: #01bbd4;
}

.bg-secondary2 {
  background: #4baf4f;
}

.bg-secondary3 {
  background: #fdc006;
}

.bg-color {
  background: #fff;
}

/*==================     Icons     ======================*/
.fa-facebook,
.fa-twitter,
.fa-google-plus,
.fa-pinterest,
.fa-linkedin,
.fa-youtube{
  display: inline-block;
  width: 44px;
  height: 44px;
  font-size: 22px;
  line-height: 44px;
  text-align: center;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-pinterest:hover,
.fa-linkedin:hover,
.fa-youtube:hover{
  color: #f44236;
  border-color: #f44236;
}
@media (min-width: 768px) and (max-width: 979px) {
  .fa-facebook,
  .fa-twitter,
  .fa-google-plus,
  .fa-pinterest,
  .fa-linkedin {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
  }
}

/*==================    Buttons    ======================*/
.btn,
.btn2 {
  display: inline-block;
  /*width: 170px;*/
  padding: 17px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  background: #01bbd4;
}
.btn:hover {
  background: #f44236;
}
.btn:active {
  background: #ea1b0d;
}

.btn2 {
  background: #f44236;
}
.btn2:hover {
  background: #01bbd4;
}
.btn2:active {
  background: #018ea1;
}

.btn-lg {
  width: 222px;
}

/*==================      Box      ======================*/
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box_aside {
  float: left;
}
.box_cnt__no-flow {
  overflow: hidden;
  padding-left: 30px;
}

/*==================     Post     ======================*/
article time {
  position: relative;
  padding-left: 41px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 100;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  color: #01bbd4;
}
article time:before {
  content: "\f073";
  position: absolute;
  top: 0;
  left: 0;
  font-family: "FontAwesome";
  font-size: 36px;
  line-height: 36px;
}
article h5 {
  letter-spacing: -0.6px;
  margin-bottom: 5px;
}
article .btn {
  background: #f44236;
}
article .btn:hover {
  background: #01bbd4;
}
article .btn:active {
  background: #018ea1;
}
.short_description {
  text-align: justify;
  min-height: 110px;
}

/*==================  Inline List  ======================*/
.inline-list li {
  display: inline-block;
}
.inline-list li + li {
  margin-left: 2px;
}

/*==================   Index List  ======================*/
.index-list {
  counter-reset: li;
}
.index-list li {
  padding-left: 114px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.index-list li:before {
  content: counter(li,decimal) ".";
  counter-increment: li;
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  padding-left: 8px;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  background: #01bbd4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.index-list li:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 70px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 13px;
  border-color: transparent transparent transparent #01bbd4;
}
.index-list li:first-child:before {
  background: #4baf4f;
}
.index-list li:first-child:after {
  border-left-color: #4baf4f;
}
.index-list li:last-child:before {
  background: #f44236;
}
.index-list li:last-child:after {
  border-left-color: #f44236;
}
.index-list li h4 {
  text-transform: uppercase;
}
.index-list li p {
  font-size: 14px;
  line-height: 18px;
}
.index-list li * + p {
  margin-top: 21px;
}
@media (min-width: 768px) and (max-width: 1199px), (max-width: 479px) {
  .index-list li {
    padding-left: 0;
    padding-top: 100px;
    text-align: center;
  }
  .index-list li:before {
    left: 50%;
    margin-left: -35px;
  }
  .index-list li:after {
    top: 70px;
    left: 50%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #01bbd4 transparent transparent transparent;
  }
  .index-list li:first-child:after {
    border-left-color: transparent;
    border-top-color: #4baf4f;
  }
  .index-list li:last-child:after {
    border-left-color: transparent;
    border-top-color: #f44236;
  }
}
.index-list li.grid_1:nth-child(12n + 13),
.index-list li.grid_2:nth-child(6n + 7),
.index-list li.grid_3:nth-child(4n + 5),
.index-list li.grid_4:nth-child(3n + 4),
.index-list li.grid_6:nth-child(2n + 3) {
  clear: left;
}

/*==================  Marked List  ======================*/
.marked-list li {
  position: relative;
  padding-left: 29px;
}
.marked-list li:before {
  content: "\f00c";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 15px;
  font-family: "FontAwesome";
  color: #01bbd4;
}
.marked-list li + li {
  margin-top: 18px;
}
.marked-list a:hover {
  color: #f44236;
}

/*=============      Product List      =================*/
.product-list [class*="fa-"] {
  position: relative;
  display: inline-block;
  width: 121px;
  height: 121px;
  color: #fff;
}
.product-list [class*="fa-"]:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 50px;
  line-height: 121px;
  text-align: center;
}
.product-list h4 {
  text-transform: uppercase;
  line-height: 39px;
}
.product-list p {
  font-size: 14px;
  line-height: 18px;
  padding-right: 34px;
}
.product-list .box_aside {
  margin-top: 7px;
}
.product-list .box + .box {
  margin-top: 23px;
}
@media (max-width: 479px) {
  .product-list .box {
    text-align: center;
  }
  .product-list .box_aside {
    float: none;
  }
  .product-list .box_cnt__no-flow {
    padding-left: 0;
  }
  .product-list .box_cnt__no-flow p {
    padding: 0;
  }
  .product-list .box_aside + .box_cnt__no-flow {
    margin-top: 20px;
  }
}

/*=============      Pricing Table      =================*/
.pricing-table > li {
  margin-top: 46px;
  padding: 40px 63px 62px;
  text-align: center;
  color: #01bbd4;
  background: #fff;
  border: 2px solid #01bbd4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pricing-table > li h5 {
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  color: #01bbd4;
}
.pricing-table .price {
  display: inline-block;
  margin-left: -24px;
  position: relative;
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
}
.pricing-table .price:before {
  content: "$";
  font-size: 22px;
  line-height: 22px;
  position: absolute;
  top: 5px;
  right: 100%;
}
.pricing-table .price:after {
  content: ".99/month";
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  bottom: 10px;
  left: 97%;
}
.pricing-table ul li {
  padding: 14px 0;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}
.pricing-table ul li + li {
  border-top: 1px solid #d6d6d6;
}
.pricing-table .btn {
  width: 190px;
  padding: 13px;
  border: 2px solid #01bbd4;
}
.pricing-table .btn:hover {
  background: transparent;
  color: #01bbd4;
}
.pricing-table > li.active {
  margin-top: 0;
  padding: 85px 63px 111px;
  color: #fff;
  background: #01bbd4;
}
.pricing-table > li.active h5 {
  color: #fff;
}
.pricing-table > li.active ul li {
  color: #fff;
}
.pricing-table > li.active ul li + li {
  border-color: rgba(255, 255, 255, 0.16);
}
.pricing-table > li.active .btn {
  color: #01bbd4;
  background: #fff;
  border: 2px solid #fff;
}
.pricing-table > li.active .btn:hover {
  background: transparent;
  color: #fff;
}
.pricing-table * + .price {
  margin-top: 29px;
}
.pricing-table * + ul {
  margin-top: 16px;
}
.pricing-table * + .btn {
  margin-top: 48px;
}
@media (max-width: 479px), (min-width: 768px) and (max-width: 1199px) {
  .pricing-table > li,
  .pricing-table > li.active {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 767px) {
  .pricing-table > li.active {
    margin-top: 30px;
  }
}

/*==================     Quote     ======================*/
blockquote {
  position: relative;
  padding-top: 72px;
  padding-left: 187px;
  padding-right: 70px;
}
blockquote:before {
  content: "";
  width: 104px;
  height: 99px;
  position: absolute;
  top: 20px;
  left: 70px;
  background: url(../images/quote.png) center no-repeat;
}
blockquote .aside {
  float: left;
  display: inline-block;
}
blockquote .aside img {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
blockquote .cnt {
  overflow: hidden;
  padding-left: 30px;
}
blockquote p {
  padding: 8px 0;
}

q {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: italic;
  color: #63696b;
}

cite {
  display: block;
  font-size: 26px;
  font-weight: 100;
  color: #f44236;
}

p + cite {
  margin-top: 19px;
}

@media (max-width: 767px) {
  .item blockquote {
    text-align: center;
    padding: 20px;
  }
  .item blockquote:before {
    top: 10px;
    left: 10px;
  }
  .item blockquote .aside {
    display: block;
    float: none;
  }
  .item blockquote .aside img {
    display: inline-block;
    max-width: 110px;
  }
  .item blockquote .cnt {
    padding-left: 0;
  }
  .item blockquote .aside + .cnt {
    margin-top: 20px;
  }
}
@media (max-width: 479px) {
  .item blockquote:before {
    top: 6px;
    left: 18px;
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}

/*=================   Privacy Policy   ==================*/
.privacy_policy dt {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.privacy_policy dt + dd {
  margin-top: 18px;
}
.privacy_policy dd + dt {
  margin-top: 29px;
}

h3 + .privacy_policy {
  margin-top: 37px;
}

.privacy_policy + a[href^="mailto:"] {
  display: inline-block;
  margin-top: 21px;
  text-decoration: underline;
}
.privacy_policy + a[href^="mailto:"]:hover {
  color: #f44236;
}

/*========================   Menu   ==========================*/
.sf-menu {
  display: inline-block;
}
.sf-menu:before, .sf-menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
}
.sf-menu > li + li {
  margin-left: 3px;
}
.sf-menu a {
  display: block;
}

.sf-menu > li > a {
  padding: 15px 24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #fff;
  background: #01bbd4;
}
.sf-menu > li.active > a {
  color: #fff;
  background: #01bbd4;
}

.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 235px;
  margin-top: 2px;
  padding: 10px 0 10px;
  background: #c7c7c7;
  z-index: 10;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sf-menu ul {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}
.sf-menu ul > li {
  position: relative;
}
.sf-menu ul > li > a {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  color: #000;
  padding: 10px 35px 10px 31px;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #FFF;
  background: #01bbd4;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.sf-menu ul ul {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 0;
  left: 100%;
  width: auto;
  min-width: 180px;
  margin-left: 10px;
  padding: 0;
  z-index: 4;
}

.sf-menu ul ul > li > a {
  color: #FFF;
}
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #FFF;
  background: #01bbd4;
}

.sf-menu ul > li > .sf-with-ul {
  position: relative;
}
.sf-menu ul > li > .sf-with-ul:before {
  position: absolute;
  right: 35px;
  top: 50%;
  margin-top: -7px;
  content: "";
  color: #fff;
  font: 400 14px/14px "FontAwesome";
}

@media (max-width: 1365px) and (min-width: 1200px) {
  .sf-menu > li > a {
    padding: 16px;
    font-size: 18px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .sf-menu > li > a {
    padding: 8px;
    font-size: 16px;
  }
}
@media (max-width: 979px) {
  .sf-menu {
    display: none;
  }
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  background: #f44236;
  color: #FFF;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px "FontAwesome";
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #FFF;
  color: #666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
}
.rd-mobilemenu_ul ul ul a {
  padding-left: 60px;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

@media (max-width: 979px) {
  body {
    padding-top: 56px;
  }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
/*==================  Stuck menu  ======================*/
.stuck_container {
  position: relative;
}
.stuck_container:before, .stuck_container:after {
  display: table;
  content: "";
  line-height: 0;
}
.stuck_container:after {
  clear: both;
}

.isStuck {
  background: #efefef;
  z-index: 999999;
  border-bottom: 2px solid #f44236;
}
.isStuck .wr {
  padding-top: 0;
  padding-bottom: 10px;
}
.isStuck .search-form_toggle {
  top: 20px;
}

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax h2 {
  color: #fff;
}
.parallax_image,
.parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}

/*==================   Thumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fff;
  background: transparent;
}
.thumb_overlay:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font: 400 30px "FontAwesome";
  line-height: 30px;
  margin-top: -15px;
  text-align: center;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.thumb_video {
  margin-left: 54px;
}
.thumb_video .thumb_overlay {
  opacity: 1;
}
.thumb_video .thumb_overlay:before {
  content: "";
  font: 400 64px "FontAwesome";
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.thumb_video:hover .thumb_overlay:before {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
@media (max-width: 767px) {
  .thumb_video {
    margin-left: 0;
  }
}

/*==================   Accordion    ======================*/
.accordion1 .accordion_header {
  padding: 15px 19px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
  color: #01bbd4;
  background: #fff;
  border: 2px solid #01bbd4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}
.accordion1 .accordion_cnt {
  padding: 34px 0 28px;
}
.accordion1 .ui-state-active {
  background: #01bbd4;
  color: #fff;
}
.accordion1 .accordion_cnt + .accordion_header {
  margin-top: 10px;
}
@media (max-width: 479px) {
  .accordion1 .accordion_header {
    font-size: 24px;
  }
}

.accordion2 {
  padding-left: 40px;
}
.accordion2 .accordion_header {
  position: relative;
  cursor: pointer;
  outline: none;
}
.accordion2 .accordion_header:before {
  content: "\f18e";
  position: absolute;
  top: 5px;
  left: -41px;
  font-size: 28px;
  font-family: "FontAwesome";
  color: #01bbd4;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.accordion2 .accordion_cnt {
  padding: 17px 0 0;
}
.accordion2 .ui-state-active:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion2 .accordion_cnt + .accordion_header {
  margin-top: 16px;
}
@media (max-width: 479px) {
  .accordion2 h5 {
    font-size: 18px;
  }
}

/*==================     ToTop     ======================*/
.toTop {
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: #a5a5a5;
  position: fixed;
  right: 66px;
  bottom: 180px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #f44236;
  text-decoration: none;
}

@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: #efefef;
  border-bottom: 2px solid #f44236;
}
header .brand {
  float: left;
}
header .nav {
  float: right;
  position: relative;
  top: 6px;
}
header .wr {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 161px;
}
header .wr:before, header .wr:after {
  display: table;
  content: "";
  line-height: 0;
}
header .wr:after {
  clear: both;
}
@media (min-width: 980px) and (max-width: 1199px) {
  header .wr {
    padding-right: 100px;
  }
}
@media (max-width: 979px) {
  header .wr {
    padding-right: 0;
    text-align: center;
  }
  header .brand, header .nav {
    float: none;
  }
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #efefef;
}
main [class*="grid"] > a[href^="mailto:"] {
  text-decoration: underline;
}
main [class*="grid"] > a[href^="mailto:"]:hover {
  color: #f44236;
}
main [class*="grid"] > a[href^="mailto:"] + p {
  margin-top: 22px;
}

/*==================      Well     ======================*/
.well {
  padding-top: 88px;
  padding-bottom: 102px;
}

.well1 {
  padding-top: 78px;
  padding-bottom: 95px;
}

.well2 {
  padding-top: 117px;
  padding-bottom: 149px;
}

.well3 {
  padding-top: 96px;
  padding-bottom: 93px;
}

.well4 {
  padding-top: 20px;
  padding-bottom: 86px;
}

.ins1 {
  padding-bottom: 95px;
}

.ins2 {
  padding-bottom: 129px;
}

.ins3 {
  padding-top: 78px;
}

@media (max-width: 767px) {
  [class*="well"] {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  background: #222;
  color: #fff;
}
footer section:first-child {
  /*padding-top: 93px;*/
  padding-top: 30px;
  /*padding-bottom: 127px;*/
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}
footer dl + dl {
  margin-top: 2px;
}
footer dl + dl:last-child {
  margin-top: 16px;
}
footer dt,
footer dd {
  display: inline-block;
}
footer h6 + address {
  margin-top: 34px;
}
footer h6 + .inline-list,
footer h6 + form {
  margin-top: 26px;
}
footer a[href^="mailto:"]:hover,
footer a[href^="callto:"]:hover {
  text-decoration: underline;
}

.copyright {
  display: block;
  padding-bottom: 30px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.copyright a:hover {
  text-decoration: underline;
}

/*/////////////*/
/*/////////////*/
/*CUSTOM STYLES*/
/*/////////////*/
/*/////////////*/


/*.hart{*/
  /*pointer-events: none;*/
  /*position: fixed;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*background: url("/images/hart.gif");*/
  /*background-repeat: no-repeat;*/
  /*top: 25%;*/
  /*left: 25%;*/
  /*opacity: .1;*/
/*}*/
.lection-side{
  opacity: .7;
  transition: 1s;
}
.lection-side:hover {
  opacity: 1;
}

.promo-post-card input{
  outline: none;
}

.promo-post-card input:not([type='submit']){
  padding: 15px 20px;
  margin: 10px 0;
  background: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  text-align: left;
  color: #fff;
  /*text-shadow: 1px 1px 5px #000;*/
}

.promo-post-card input[type='submit']{
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.payment input{
  outline: none;
}
#liqPay-form button[type='submit']{
  color: transparent;
  background-image: url(https://static.liqpay.com/logo/liqpay4.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 75px;
  width: 228px;
}
/*.chat-item{*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  /*height: 150px;*/
  /*width: 90%;*/
/*}*/
/*.chat-item.question{*/
  /*background-image: url("/images/chat_white_h2_item.png");*/
  /*margin-left: 10px;*/
/*}*/
/*.chat-item.answer{*/
  /*background-image: url("/images/chat_white_item.png");*/
  /*margin-left: 100px;*/
/*}*/


/*//////////////////////*/


/*@media screen and (max-width: 768px) {*/
  /*.post-card input:not([type='submit']){*/
    /*width: 180px;*/
  /*}*/
/*}*/
/*@media screen and (max-width: 768px) {*/
  /*.chat-item.question,*/
  /*.chat-item.answer{*/
    /*margin-left: 0;*/
  /*}*/
  /*.chat-item.question{*/
    /*height: 100px;*/
  /*}*/

.custom_index_site {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  line-height: 28px;
  text-align: justify;
}

#subcribe_home {
  color: #fff;
  background-color: rgb(177, 204, 223);
  background-image: url('/images/page-1_slide01.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}
#subcribe_home:before{
  background: rgba(0,0,0,.2);
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  z-index: auto;
}
#subcribe_home,
#subcribe_home:before{
  height: 440px;
}

#subcribe_home .mfPlaceHolder {
  color: #ffffff;
}

.promo-subscribe-bg {
  background-color: rgba(1,187,212,0.66);
  margin: 40px 0;
  border-radius: 5px;
}
.promo-subscribe-text {
  padding: 40px 30px 0;
  /*text-shadow: 2px 2px 10px rgba(55, 75, 99, 0.75)*/
}

.title_section_home {
  border-bottom: 1px dotted #000;
  padding-bottom: 5px;
}

.site-login {
  background-color: rgba(1,187,212,0.66);
  border-radius: 5px;
  padding: 30px;
  margin: 50px auto;
  max-width: 400px;
  color: #fff;
}
.site-login h4 {
  color: #fff;
}

.site-login .help-block-error {
  color: red;
  margin: 0;
}

.site-login .tittle {
  border-bottom: 1px dotted;
  padding-bottom: 5px;
}

.forget_pass {
  border-bottom: 1px dotted;
  display: inline-block;
  font-size: 90%;
  position: absolute;
  right: 0;
  line-height: 17px;
}
.input-text {
  background-color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
}

.btn-wrapper {
  text-align: center;
  margin: 10px 0;
}

h2.site-index{
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
}
a.site-index{
  position: relative;
  width: 275px;
  height: 50px;
  line-height: 100%;
  box-shadow: 10px 6px 9px 0px #797979;
}
a.site-index:hover{
  box-shadow: 0 0 0 0 white;
}
.container.custom_site_subscribe{
  padding: 50px 0;
}
.container.custom_site_subscribe input[type='submit']{
  border: none;
  width: 100%;
}
.fixed-height-90{
  height: 90px;
}
a.pp_link{
  font-size: 15px;
  color: #d2d2d2;
}
p.text-medium{
  font-size: 16px;
}

/* from 1024 */
@media screen and (max-width: 1024px) {
  .custom_index_site {
    font-size: 20px;
  }
}

/* from 1024 px to 767px */
@media screen and (max-width: 1024px) and (min-width: 767px) {
  #subcribe_home .container .grid_4 {
    width: 48%;
  }
}

/*__768__*/
@media screen and (max-width: 768px) {
  h2.custom_index_site{
    font-size: 30px;
  }
  blockquote{
    padding-left: 0!important;
  }
  .promo-subscribe-bg {
    background-color: rgba(1,187,212,0.95);
    margin: 20px 0;
  }
}

/*__360__*/

@media screen and (max-width: 360px) {
  h2.custom_index_site{
    font-size: 30px;
  }
  .post-card input:not([type='submit']){
    width: 60%;
  }
}
